/* Add CSS Styling */
.first,
.second{
   
    font-size: 28px;
    font-family: "Times New Roman",Helvetica,sans-sherif;
}
.first{
 
    background-color: black;
    color: white;
}
.second{
    background-color: yellow;
}