body {
  background: #eee;
  font-family: sans-serif;
  
}
*{
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding:16px;
}

.title {
  background: #e3f4ff;
  padding:16px 8px;
  margin-bottom: 16px;
  
}

.content {
  background: #e3f4ff;
  padding:16px 8px;
  margin-bottom: 16px;
}

.button-container {
  box-sizing: border-box;
  background: #e3f4ff;
  padding:16px;
  text-align: center;

}

button {
  display: block;
  background: white;
  padding:8px 24px;
  margin:0 auto;
  border:1px solid #eee;
}
